@keyframes video{
  0% {transform: scale(0) rotate(0deg); filter: none}
  25%{transform: scale(2) rotate(90deg);filter: invert(1)}
  50%{transform: scale(3) rotate(180deg);filter: none}
  75%{transform: scale(2) rotate(270deg); filter: invert(1)}
  100% {transform: scale(1) rotate(360deg); filter: none}
}
@keyframes logo{
  0% {filter: none;}
  10%{filter: invert(0.1); transform: scale(1)}
  20%{filter: invert(0.2); transform: scale(0.9)}
  30%{filter: invert(0.3); transform: scale(0.8)}
  40%{filter: invert(0.4); transform: scale(0.7)}
  50%{filter: invert(0.5); transform: scale(0.6)}
  60%{filter: invert(0.6); transform: scale(0.5)}
  70%{filter: invert(0.7); transform: scale(0.4)}
  80%{filter: invert(0.8); transform: scale(0.3)}
  90%{filter: invert(0.9); transform: scale(0.2)}
  100%{filter: invert(1); transform: scale(0.1)}
}
@keyframes blip{
  15%{color: red; background-color: purple; filter: none }
  30%{color: orange; background-color: blue; filter: invert(1) }
  45%{color: yellow; background-color: green; filter: none }
  60%{color: green; background-color: yellow; filter: invert(1) }
  75%{color: blue; background-color: orange; filter: none }
  90%{color: purple; background-color: red; filter: invert(1) }
}

nav li a{
  animation: blip 0.5s infinite;
}
img#logo{
  animation: logo 8s infinite;
}
iframe#video{
  animation: video 0.5s linear infinite;
}
p{
  animation: blip 0.5s infinite;
}
p#one{
  animation: blip 0.5s infinite;
}
audio::-webkit-media-controls-panel{
  animation: blip 0.5s infinite;
}
body{
  animation: blip 0.5s infinite;
}